@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
*{
}
body{
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ddd;
}
.newspaper-container{
    width: 700px;
    border-radius: 25%;
    display: block;
    align-items: center;
    background-color: white;
    box-shadow:unset #ddd;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#MA-img{
    width: 300px;
}
#MA-img2{
    width: 300px;
}
h1{
    text-align: center;
    font-family: ;

}

nav li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    display: inline-block;
    padding: 8px;
    color: #777;
    font-size: x-small;
}
nav{
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

a{
    text-decoration: none;
    color: #777;
}

p{
    justify-content: space-between;
    text-align: justify;
}
.more-articles section{
    display: inline-block;
    width: 300px;
    padding: 15px;
    text-align: center;
    border-top: #777, 5px;
}
.more-articles{
    padding-left: 15px;
    padding-right: 10px;
}
main img{
    width: 700px;
    text-align: center;
    align-items: center;
}
main{
    padding-right: 5px;
}

h5{
    color: #dd3232;
}

